menu "ReflowCtrl network configuration"

config REFLOW_OTA_SERVER_HOSTNAME
    string "OTA server mDNS hostname"
    default "reflow-ota-server.local"

config REFLOW_OTA_SERVER_PORT
    int "OTA server HTTP port"
    range 1 65535
    default 8070

endmenu
